# Compiled python modules.
*.pyc

# Byte-compiled
_pycache__/
.cache/

# Poetry, setuptools, PyPI distribution artifacts.
/*.egg-info
.eggs/
build/
dist/
poetry.lock

# Tests
.pytest_cache/

# Type checking
.pytype/

# Other
*.DS_Store

# PyCharm
.idea
jax3d/jax3d/projects/mobilener/datasets/
jax3d/jax3d/projects/mobilener/models/
jax3d/jax3d/projects/mobilener/outputs/
jax3d/jax3d/projects/mobilener/weights/
jax3d/jax3d/projects/mobilener/figures/
jax3d/jax3d/projects/mobilener/samples/
jax3d/jax3d/projects/mobilener/samples_bkp/
